* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'CustomFont';
    src: url('fonts/beba.ttf') format('truetype');
}

body {
    background-color: #242d47;
    /* text-align: center; */
}

#nav {
    position: fixed;
    margin: 1%;
    top: 0;
    left: 0;
    z-index: 1;
}

#logo {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 2px 3px 8px black;
    cursor: pointer;
}


#body1 {
    margin: 5% 20% 0% 20%;
    border: 2px double rgb(58, 47, 47);
    border-radius: 10px;
    box-shadow: 10px 10px 15px #0d111d;
    background-color: #d8c16f;
    padding: 1%;
}

#body1 #greet {
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 2px 2px 5px #524929;
}

#body1 #level_chooser {
    margin: 1% 75% 0% 0%;
    text-align: left;
    /* border: 2px solid black;
    border-radius: 10px; */
}

#level_chooser #level_index {
    font-weight: bolder;
}

.LEVEL {
    margin: 5px;
}

#inputlabel {
    font-size: large;
}

#user_guessed_letter {
    height: 20px;
    width: 2.7%;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #c4af65;
    padding: 2px;
    outline: none;
    font-size: large;
    text-align: center;
}

#body1 #submit {
    width: 10%;
    height: 27px;
    background-color: rgb(34, 34, 34);
    color: rgb(82, 80, 80);
    padding: 1px;
    border: 2px solid rgb(37, 37, 37);
    border-radius: 4px;
}

/* #remaining_letter_title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
} */

#remaining_guess_count {

    font-weight: bold;
}

.remaining-guess-container {
    display: flex;
    align-items: center;
    /* Vertically center the items */
    gap: 9px;
    /* Adjust the space between elements if needed */
}

#used_letter_label {
    font-size: medium;
    font-family: sans-serif;
}

#used_letter_list {
    margin: 5px 0px 0px 9px;
    display: flex;
    align-items: center;
    gap: 5px;
    list-style-type: none;
    font-size: 20px;
}

footer {
    display: grid;
}

#foot {
    margin: 5% 20% 0% 20%;
    border: 2px double rgb(58, 47, 47);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 10px 10px 15px #0d111d;
    background-color: #d8c16f;
    padding: 1px 2px 3px 2px;
}

#foot #foothangman {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 1px #000000;
    font-size: 200px;
    font-weight: bold;
    font-family: 'CustomFont', beba;
    cursor: default;
}

#foot #about {
    text-align: left;
    float: left;
    margin: 0% 35% 0% 0%;
}


#foot #socials {
    text-align: left;
    float: left;
    margin: 0% 30% 0% 0%;
}


.details {
    font-family: sans-serif;
    margin: 5px 0px 5px 18px;
    font-size: small;
    color: gray;
}

.title {
    font-family: sans-serif;
    margin: 0px 0px 0px 8px;
}

#foot #copyright {
    margin: 0px 0px 10px 10px;
    float: left;
}

#foot #version {
    margin: 0px 0px 10px 10px;
    text-align: center;
    color: #242d47;
}
